In [ ]:
import pandas as pd
import numpy as np

In [ ]:
arr=np.array([1,2,3,4,5])

In [ ]:
char=pd.Series(['a','b'])
print(char)

0    a
1    b
dtype: object

In [ ]:
sr=pd.Series(arr)
print(sr)

0    1
1    2
2    3
3    4
4    5
dtype: int64